@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', monospace;
}

body {
  background-image: url('bg_pixel.svg');
  background-size: cover;
  height: 100vh;
  text-transform: uppercase;
}

header {
  margin-top: 25px;
  text-shadow: 1px 1px 2px white;
  text-align: center;
  line-height: 1.2;
}

#title {
  margin-top: 15px;
  font-size: 12px;
}

#menu {
  background: rgba(185, 176, 194);
  border: 5px solid rgba(64, 66, 61, 0.9);
  border-radius: 8px;
  margin: 5px auto;
  width: 30%;
  padding: 10px;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
}

#color-palette .color {
  border: solid rgba(64, 66, 61, 0.5);
  border-radius: 5px;
  margin: 3px;
}

.standardSize {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

button {
  border: solid rgba(64, 66, 61, 0.5);
  border-radius: 3px;
  padding: 4px;
  text-transform: uppercase;

  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/text-shadow */
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#random-color {
  background: rgba(61, 153, 26, 1);
  color: aliceblue;
  height: 40px;
  align-self: center;
}

#clear-board {
  background: rgba(197, 132, 27, 1);
  color: aliceblue;
}

#board-size {
  border: 5px solid rgba(64, 66, 61, 0.9);
  border-radius: 3px;
  width: 120px;
  padding: 2px;
}

#generate-board {
  background: rgba(39, 105, 153, 1);
  color: aliceblue;
}

.black {
  background: black;
}

#pixel-board {
  max-width: 90%;
  margin: 15px auto;
  line-height: 0;
  display: table; /* Dica by Bea turma 14b */
}

.pixel {
  background: white;
  display: table-cell; /* Dica by Bea turma 14b */
}
