@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background: no-repeat url('bg_pixel.svg');
  background-size: contain;
  height: 100vh; /* Tentativa de preenchimento da tela */
}

header {
  text-align: center;
}

#title {
  font-size: 14px;
}

#menu {
  background-color: rgb(223, 212, 212);
  border: 3px solid gray;
  display: block;
  margin: 15px auto;
  width: 40%;
  padding: 15px;
}

.standardSize {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.black {
  background: black;
}

.teal {
  background: teal;
}

.pink {
  background: pink;
}

.yellow {
  background: yellow;
}

#pixel-board {
  max-width: 90%;
  margin: 15px auto;
  line-height: 0;
  display: table; /* Dica by Bea turma 14b */
}

.pixel {
  background: white;
  display: table-cell; /* Dica by Bea turma 14b */
}
